:host {
  display: block;
  /*border: 1px solid green;*/
  border-bottom: 1px solid green;
}
paper-item span.finished-todo {
  text-decoration: line-through;
}
paper-item:hover {
  background: #b2dfdb;
}