:host {
  display: block;
  /*border: 1px solid green;*/
  /*border-bottom: 1px solid green;*/
  margin: 10px 10px 10px 0;
  /*max-width: calc(33% - 10px);*/
  width: calc(33% - 10px);
}

paper-card:hover,
paper-card.hover {
  @apply(--shadow-elevation-2dp);
  border: 1px solid var(--paper-gold-500);
}

span.finished-todo {
  text-decoration: line-through;
}

/*paper-item:hover {*/
/*background: #b2dfdb;*/
/*}*/
/*paper-material {*/
/*background-color: #fff;*/
/*max-width: 640px;*/
/*margin: 10px auto;*/
/*position: relative;*/
/*}*/
paper-card {
  /*background-color: #fff;*/
  width: 100%;
  /*margin: 10px auto;*/
  /*position: relative;*/
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  flex: 1 250px;
  transition-properties: opacity, box-shadow;
  transition-duration: 0.4s;

  -webkit-transition-properties: opacity, box-shadow;
  -webkit-transition-duration: 0.4s;
}

paper-card .header {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

paper-card .header .title-text {
  padding: 16px;
  font-size: 20px;
  font-weight: 300;
  max-width: 300px;
  @apply(--layout-flex);
  color: var(--paper-card-header-color, #000);
}

paper-card .header .prefix {
  padding-left: 16px;
}

paper-card .header .suffix {
  margin-right: 16px;
}

/*.actions {*/
/*float: right;*/
/*position: relative;*/
/*}*/
